<div class="hidden sm:block">
    <div class="mx-10 flex items-center absolute right-0 border bg-white border-black-thm-drk p-2 rounded-lg dark:bg-black-thm-drk dark:border-gray-light">
        <input type="checkbox" id="invCheckbox" (click)="toggleTheme()"
            class="mr-2 h-5 w-5 text-primary border-gray-dark rounded focus:outline-none dark:bg-gray-700 dark:text-primary-thm-dark">
        <label for="myCheckbox" class="text-gray-700 dark:text-white">Dark Theme</label>
    </div>
</div>
<router-outlet></router-outlet>